<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <!--定义输出到文件中-debug-->
    <appender name="RollingLogFileDebug" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置，循环写入这里需要为log/log.txt-->
      <file value="bin/Log/Debug/" />
      <!--循环写入这里需要,意思是保留10个文件，多余的文件就覆盖写入-->
      <param name="MaxSizeRollBackups" value="100" />
      <!--名称是否可以更改 为false为可以更改,循环写入这里需要为ture-->
      <param name="StaticLogFileName" value="false" />
      <!--循环写入这里需要-->
      <!--<rollingStyle value="Composite" />-->
      <rollingStyle value="Composite" />

      <!--追加文件-->
      <appendToFile value="true" />
      <!--不占用日志文件进程-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd-HH'.txt'" />
      <!--每个文件的大小-->
      <param name="MaximumFileSize" value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline%date | [%thread] | %-5level | %logger property:[%property{NDC}] %newline%message" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>

    <!--定义输出到文件中-debug-->
    <appender name="RollingLogFileInfo" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置，循环写入这里需要为log/log.txt-->
      <file value="bin/Log/Info/" />
      <!--循环写入这里需要,意思是保留10个文件，多余的文件就覆盖写入-->
      <param name="MaxSizeRollBackups" value="100" />
      <!--名称是否可以更改 为false为可以更改,循环写入这里需要为ture-->
      <param name="StaticLogFileName" value="false" />
      <!--循环写入这里需要-->
      <!--<rollingStyle value="Composite" />-->
      <rollingStyle value="Composite" />

      <!--追加文件-->
      <appendToFile value="true" />
      <!--不占用日志文件进程-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd-HH'.txt'" />
      <!--每个文件的大小-->
      <param name="MaximumFileSize" value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline%date | [%thread] | %-5level | %logger property:[%property{NDC}] %newline%message" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>

    <!--定义输出到文件中-error-->
    <appender name="RollingLogFileWarn" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置，循环写入这里需要为log/log.txt-->
      <file value="bin/Log/Warn/" />
      <!--循环写入这里需要,意思是保留10个文件，多余的文件就覆盖写入-->
      <param name="MaxSizeRollBackups" value="100" />
      <!--名称是否可以更改 为false为可以更改,循环写入这里需要为ture-->
      <param name="StaticLogFileName" value="false" />
      <!--循环写入这里需要-->
      <!--<rollingStyle value="Composite" />-->
      <rollingStyle value="Composite" />

      <!--追加文件-->
      <appendToFile value="true" />
      <!--不占用日志文件进程-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd-HH'.txt'" />
      <!--每个文件的大小-->
      <param name="MaximumFileSize" value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline%date | [%thread] | %-5level | %logger property:[%property{NDC}] %newline%message" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
    </appender>

    <!--定义输出到文件中-error-->
    <appender name="RollingLogFileError" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置，循环写入这里需要为log/log.txt-->
      <file value="bin/Log/Error/" />
      <!--循环写入这里需要,意思是保留10个文件，多余的文件就覆盖写入-->
      <param name="MaxSizeRollBackups" value="100" />
      <!--名称是否可以更改 为false为可以更改,循环写入这里需要为ture-->
      <param name="StaticLogFileName" value="false" />
      <!--循环写入这里需要-->
      <!--<rollingStyle value="Composite" />-->
      <rollingStyle value="Composite" />

      <!--追加文件-->
      <appendToFile value="true" />
      <!--不占用日志文件进程-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd-HH'.txt'" />
      <!--每个文件的大小-->
      <param name="MaximumFileSize" value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%newline%date | [%thread] | %-5level | %logger property:[%property{NDC}] %newline%message" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <root>
      <level value="ALL" />
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileDebug" />
      <appender-ref ref="RollingLogFileError" />
      <appender-ref ref="RollingLogFileWarn" />
      <appender-ref ref="RollingLogFileInfo" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>